hypothesis~=6.82.4
pytest~=7.4.0
setuptools~=68.0.0
typer~=0.9.0
numpy~=1.26.0
pandas~=2.0.3
scipy~=1.11.1
rpy2~=3.5.13
statsmodels~=0.14.0
matplotlib~=3.7.1

yaml~=0.2.5
pyyaml~=6.0.1

plotly~=5.9.0
