kaleido==0.2.1
numpy~=1.26.0
pandas==2.0.3
plotly~=5.24.1
pulp==2.7.0
pyyaml==6.0.1
rpy2~=3.5.13
scipy~=1.11.1
scrapy==2.12.0
snakemake==7.32.4
statsmodels==0.14.0
tables==3.8.0
pytest~=7.4.0
yaml~=0.2.5
setuptools~=68.0.0
matplotlib~=3.7.2
itemadapter~=0.11.0
sdv~=1.18.0
